* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(253, 253, 253, 0.3), rgb(0, 0, 0)) 
                ,url('../img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.background {
    clip-path: polygon(0 0, 50% 0, 70% 100%, 0% 100%);
    background-color: rgba(0, 58, 97, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: -1;
}

.delete-form {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 50vw;
    height: 600px;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 20px;
}

.user-icon {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.user-icon i {
    font-size: 150px;
}

.delete-text {
    text-align: center;
}

.delete-text p {
    font-size: 40px;
    width: 60%;
    margin: 0 auto;
}

.btns {
    text-align: center;
    margin-top: 50px;
}

.btns button {
    outline: none;
    font-size: 36px;
    padding: 5px 20px;
    border: 2px solid black;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 30px;
    transition: all linear .2s;
}

.btns button:hover,
.btns button:active {
    box-shadow: 0px 0px 10px black;
    background-color: rgb(182, 182, 182);
}

.btns a {
    cursor: pointer;
    text-decoration: none;
    font-size: 31px;
    padding: 5px 25px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    transition: all linear .2s;
}

.btns a:hover,
.btns a:active {
    box-shadow: 0px 0px 10px black;
    background-color: rgb(182, 182, 182);
}

/* ---------------------- CSS media queries ------------------- */


@media only screen and (max-width: 1600px) {
    .delete-text p {
        font-size: 40px;
        width: 70%;
    }
}

@media only screen and (max-width: 1400px) {
    .delete-text p {
        font-size: 30px;
        width: 70%;
    }

    .btns button {
        font-size: 30px;
    }

    .btns a {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1100px) {
    .delete-text p {
        width: 90%;
    }

    .btns a {
        font-size: 26px;
    }
}

@media only screen and (max-width: 900px) {
    .delete-form {
        height: 400px;
    }

    .user-icon {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .user-icon i {
        font-size: 100px;
    }
    
    .delete-text p {
        font-size: 25px;
    }

    .btns {
        margin-top: 20px;
    }

    .btns a {
        font-size: 20px;
    }

    .btns button {
        margin-right: 15px;
        font-size: 23px;
    }
}

@media only screen and (max-width: 600px) {
    .delete-form {
        width: 80vw;
        height: 330px;
    }
}

@media only screen and (max-width: 450px) {
    .user-icon {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .user-icon i {
        font-size: 70px;
    }
    
    .delete-text p {
        font-size: 20px;
        width: 70%;
    }

    .btns {
        margin-top: 20px;
    }

    .btns a {
        font-size: 17px;
    }

    .btns button {
        margin-right: 15px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    .user-icon {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .user-icon i {
        font-size: 70px;
    }
    
    .delete-text p {
        font-size: 18px;
        width: 70%;
    }

    .btns {
        margin-top: 20px;
    }

    .btns a {
        font-size: 14px;
        padding: 5px 15px;
        font-weight: bold;
    }

    .btns button {
        margin-right: 5px;
        font-size: 17px;
        padding: 5px 10px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 230px) {
    .btns a {
        font-size: 12px;
    }

    .btns button {
        font-size: 15px;
    }
}