* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(253, 253, 253, 0.3), rgb(0, 0, 0)) 
                ,url('../img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
    font-size: 90px;
    margin: 20px 0px 0px 50px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: .02em;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.all-machines-content {
    position: relative;
    width: 80vw;
    margin: 40px auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    z-index: 0;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.buttons {
    display: flex;
    margin: 30px 0px 10px 0px;
}

/*********************** Add New Machine Button ************************/

.button-new-machine {
    position: relative;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    transition: all linear .3s;
    margin-right: 20px;
    cursor: pointer;
}

.button-new-machine a { 
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-decoration: none;
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: all linear .3s;
}

.button-new-machine:hover {
    transform: scale(1.15);
}

.button-add-machine {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.button-add-machine a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(223, 223, 223);
    background-color: rgb(75, 75, 75);
    padding: 7px 15px;
    border-radius: 20px;
    transition: all linear 0.2s;
}

.button-add-machine a:hover,
.button-add-machine a:active {
    color: white;
    background-color: black;
}

/******************************************************************/

.all-machines {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.one-machine {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 10px;
    width: 200px;
    background-color: rgb(27, 27, 27);
    color: white;
    margin: 30px 10px;
    transition: all linear 0.2s;
}

.one-machine:hover {
    transform: scale(1.05);
}

.one-machine img {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.first-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.one-machine h2 {
    font-size: 18px;
    margin-left: 5px;
}

.one-machine-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 0px 5px;
}

.second-info-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.one-machine p {
    font-size: 14px;
    padding: 3px;
}

/*********************** Edit Machine Button ************************/

.edit-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(167, 167, 167);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    margin-right: 10px;
}


.edit-btn:hover::before {
    transform: scale(1);
}

.edit-btn svg {
    height: 8px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
}

.edit-btn:hover svg {
    transform: rotate(-15deg) translateX(5px);
}

.edit-btn::after {
    content: "";
    width: 12px;
    height: 1px;
    position: absolute;
    bottom: 7px;
    left: -5px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.9s ease-out;
}

.edit-btn:hover::after {
    transform: scaleX(1);
    left: 0px;
    transform-origin: right;
}

/*********************** Delete Machine Button ************************/

.delete-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb(167, 167, 167);
    transition-duration: 0.3s;
}

.btn-bottom {
    width: 8px;
}

.btn-top {
    width: 8px;
    transform-origin: right;
    transition-duration: 0.3s;
}

.delete-btn:hover .btn-top {
    transform: rotate(45deg);
}

.delete-btn:active {
    transform: scale(0.9);
}

/*********************** Empty Page ************************/

.empty-page {
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.empty-page p {
    color: white;
    text-shadow: 0px 0px 20px black;
    font-size: 60px;
    margin-bottom: 20px;
}

.empty-page a {
     text-decoration: none;
     background-color: rgb(30, 151, 30);
     color: white;
     font-size: 30px;
     border-radius: 10px;
     padding: 10px 20px;
     transition: all linear .2s;
}

.empty-page a:hover,
.empty-page a:active {
    font-size: 33px;
}


/* ---------------------- CSS media queries ------------------- */

@media only screen and (max-width: 1050px) {
    .button-new-machine {
        width: 40px;
        height: 40px;
        margin-top: 4px;
    }
}

@media only screen and (max-width: 850px) {
   h1 {
        font-size: 60px;
   }

   .empty-page {
        margin-top: 100px;
    }

    .empty-page p {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .empty-page a {
        font-size: 18px;
        padding: 10px 20px;
    }

    .empty-page a:hover,
    .empty-page a:active {
        font-size: 21px;
    }
}

@media only screen and (max-width: 500px) {
    .all-machines-content {
        width: 95vw;
    }

    .all-machines {
        gap: 18px;
    }

    .one-machine {
        width: 150px;
        margin: 0px;
    }
    
    .one-machine img {
        height: 100px;
    }

    .first-info-row {
        margin: 5px;
    }
    
    .one-machine h2 {
        font-size: 10px;
        margin-left: 5px;
    }
    
    .one-machine-buttons {
        margin: 0px 2px 0px 2px;
    }
    
    .one-machine p {
        font-size: 10px;
    }

    .buttons {
        margin: 10px 0px;
    }

    .button-new-machine {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .button-new-machine a { 
        font-size: 32px;
    }

    .one-machine {
        margin: 0px 0px 20px 0px;
    }
}

@media only screen and (max-width: 400px) {
    .all-machines-content {
        margin: 10px auto;
    }

    h1 {
        font-size: 40px;
        margin: 30px 0px 40px 10px;
    }
}

@media only screen and (max-width: 300px) {
    .all-machines-content {
        width: 90vw;
    }

    h1 {
        font-size: 30px;
        margin: 20px 0px 0px 20px;
    }
    
    .empty-page p {
        font-size: 20px;
    }

    .empty-page a {
        font-size: 15px;
        padding: 10px 20px;
    }

    .empty-page a:hover,
    .empty-page a:active {
        font-size: 18px;
    }
}