* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(253, 253, 253, 0.3), rgb(0, 0, 0)) 
                ,url('../img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-size: 90px;
    margin: 20px;
    font-weight: normal;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .02em;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.all-employees-content {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1400px;
    margin: 50px auto;
    padding: 50px 10px;
    border-radius: 40px;
    position: relative;
}

.filter {
    margin: 20px auto 30px auto;
}

.all-employees {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.one-employee {
    margin: 20px;
}

.one-employee h2 {
    font-size: 18px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.one-employee p {
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.one-employee a img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    background-color: #cc0000;
    transition: all linear .2s
}

.active a img {
    background-color: #54B435;
}

.one-employee a img:hover,
.one-employee a img:active {
    transform: scale(1.1);
    box-shadow: 0px 0px 40px black;
}

/*********************** All | Turners | Millers ************************/

.radio-inputs {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 100%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
  
.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}
  
.radio-inputs .radio input {
    display: none;
}
  
.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}
  
.radio-inputs .radio input:checked + .name {
    background-color: #bbbbbb;
    font-weight: 600;
}


/* ---------------------- CSS media queries ------------------- */

@media only screen and (max-width: 1500px) {
    .all-employees-content {
        width: 1200px;
    }
}

@media only screen and (max-width: 1300px) {
    h1 {
        font-size: 70px;
    }
    
    .all-employees-content {
        width: 1000px;
    }
}

@media only screen and (max-width: 1050px) {
    h1 {
        font-size: 50px;
    }
    
    .all-employees-content {
        width: 800px;   
        margin: 30px auto;
    }

    .filter {
        margin: 10px auto;
    }

    .one-employee a img {
        width: 100px;
        height: 100px;
        padding: 4px;
    }

    .one-employee {
        margin: 10px;
    }

    .one-employee h2 {
        font-size: 12px;
    }

    .one-employee p {
        font-size: 12px;
    }

    .radio-inputs {
        font-size: 17px;
    }
}

@media only screen and (max-width: 830px) {
    h1 {
        font-size: 40px;
    }
    
    .all-employees-content {
        width: 650px;   
        margin: 10px auto;
    }
}

@media only screen and (max-width: 690px) {
    .all-employees-content {
        width: 500px;   
    }

    .one-employee a img {
        width: 80px;
        height: 80px;
    }
    .radio-inputs {
        font-size: 13px;
    }
}

@media only screen and (max-width: 530px) {
    .all-employees-content {
        width: 400px;   
    }
}

@media only screen and (max-width: 430px) {
    h1 {
        font-size: 35px;
        margin: 30px 0px 50px 10px;
    }

    .all-employees-content {
        width: 300px;  
    }
}

@media only screen and (max-width: 310px) {
    .all-employees-content {
        width: 250px;  
    }

    .filter {
        transform: scale(0.6);
        margin: 0px auto;
    }

    .one-employee a img {
        width: 70px;
        height: 70px;
        padding: 3px;
    }

    .one-employee h2 {
        font-size: 10px;
    }

    .one-employee p {
        font-size: 10px;
    }

    .radio-inputs {
        font-size: 10px;
    }
}