body {
    background: linear-gradient(rgba(253, 253, 253, 0.3), rgb(0, 0, 0)) 
                ,url('../img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.work-plan form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    box-shadow: 0px 0px 150px #000000;
    color: white;
}

/*********************** WORK TYPE **************************/

.type-of-work {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}

.type-of-work label {
    margin-right: 40px;
}

.type-of-work option {
    background-color: black;
}

.type-of-work select {
    font-size: 20px;
    outline: none;
    padding: 0.2rem 1.8rem;
    background-color: transparent;
    color: white;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 10px;
}

/*********************** TEXT-AREA **************************/

.message-about-work {
    text-align: center;
} 

.message-about-work textarea {
    color: black;
    outline: none;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 5px;
    background-color: transparent; 
    color: white;
    resize: none;
    width: 90%;
    height: 250px;
    padding: 0.9rem;
    font-size: 19px;
    margin: 20px 0px;
}

.message-about-work textarea::placeholder {
    color: rgb(185, 185, 185); 
    font-size: 19px;
}

/*********************** MACHINES **************************/
.machines-for-work {
    height: 250px;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    margin: 0 auto;
    overflow-y: scroll;
    scrollbar-color: rgb(255, 255, 255) rgba(73, 73, 73, 0.5);
}

legend {
    font-size: 22px;
    text-align: center;
    padding: 0px 10px;
}

.one-machine {
    width: 150px;
}

/*********************** SEND BUTTON **************************/

.work-plan form button {
    display: block;
    margin: 20px 0px;
    font-size: 50px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s linear all;
    width: 100%;
}

.work-plan form button:hover,
.work-plan form button:active {
    transform: scale(1.2);
}

/* ---------------------- CSS media queries ------------------- */

@media only screen and (max-width: 1000px) {
    .work-plan form {
        width: 600px;
    }

    .type-of-work {
        font-size: 20px;
        margin-top: 10px;
    }

    .type-of-work label {
        margin-right: 20px;
    }

    .type-of-work select {
        font-size: 17px;
        padding: 0.2rem .6rem;
    }

    .message-about-work textarea {
        height: 200px;
        font-size: 16px;
    }

    .message-about-work textarea::placeholder {
        font-size: 16px;
    }

    fieldset {
        gap: 10px;
        width: 90%;
        padding: 20px 0px;
        margin: 0 auto;
    }

    legend {
        font-size: 18px;
    }

    .one-machine {
        width: 100px;
        font-size: 13px;
    }

    .work-plan form button {
        font-size: 30px;
    }
}

@media only screen and (max-width: 700px) {
    .work-plan form {
        width: 500px;
    }
}

@media only screen and (max-width: 580px) {
    .work-plan form {
        width: 400px;
    }

    .type-of-work {
        font-size: 14px;
        margin-top: 15px;
    }

    .type-of-work label {
        margin-right: 10px;
    }

    .type-of-work select {
        font-size: 12px;
        padding: 0.1rem;
    }

    .message-about-work textarea {
        height: 150px;
        font-size: 12px;
    }

    .message-about-work textarea::placeholder {
        font-size: 12px;
    }

    .machines-for-work {
        height: 180px;
    }

    fieldset {
        gap: 5px;
        padding: 10px 0px;
    }

    legend {
        font-size: 14px;
    }

    .one-machine {
        font-size: 11px;
    }

    .work-plan form button {
        font-size: 25px;
        margin: 10px 0px;
    }
}

@media only screen and (max-width: 430px) {
    .work-plan form {
        width: 250px;
    }

    .type-of-work {
        font-size: 12px;
        margin-top: 15px;
    }

    .type-of-work label {
        margin-right: 10px;
    }

    .type-of-work select {
        font-size: 10px;
    }

    .message-about-work textarea {
        height: 100px;
        font-size: 10px;
        padding: 5px;
    }

    .message-about-work textarea::placeholder {
        font-size: 10px;
    }

    fieldset {
        gap: 2px;
        padding: 2px 0px;
    }

    legend {
        font-size: 12px;
    }

    .one-machine {
        font-size: 10px;
    }

    .work-plan form button {
        font-size: 17px;
        margin: 10px 0px;
    }
}

@media only screen and (max-width: 290px) {

    .machines-for-work {
        height: 150px;
    }

    .message-about-work textarea {
        margin: 10px 0px;
    }
    
}

